---
import BaseHead from '../components/base/BaseHead.astro'
import CloseButton from '../components/CloseButton.astro'
---

<!doctype html>
<html lang='ru'>
  <head>
    <BaseHead />
    <title>Антистресс | Ира Васюк, дизайнер</title>
    <meta name='viewport' content='width=device-width, initial-scale=1 user-scalable=no' />
  </head>
  <body>
    <div class='close-button'>
      <CloseButton />
    </div>
    <div class='antistress'>
      <h1 class='title'>тейк ит изи</h1>
      <button class='button__change-color' type='button'>Изменить цвет</button>
      <canvas id='canvas'></canvas>
    </div>
  </body>
</html>
<script>
  import Spheres2Background from 'https://cdn.jsdelivr.net/npm/threejs-components@0.0.8/build/backgrounds/spheres2.cdn.min.js'

  const antistress = document.querySelector('.antistress')
  const bg = Spheres2Background(document.getElementById('canvas'), {
    count: 200,
    colors: [0xff0000, 0x0, 0xffffff],
    minSize: 0.5,
    maxSize: 1,
  })

  const button1 = document.querySelector('.button__change-color')

  button1.addEventListener('click', () => {
    bg.spheres.setColors([0xffffff * Math.random(), 0xffffff * Math.random(), 0xffffff * Math.random()])
    bg.spheres.light1.color.set(0xffffff * Math.random())
  })
</script>
<style>
  .antistress {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    overflow: clip;
  }

  #canvas {
    position: absolute;
    z-index: -10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .title {
    position: relative;
    margin: auto;
    font-size: 6rem;
    color: var(--white);
    line-height: 100%;
    font-family: var(--font-grotesk);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
  }

  .button__change-color {
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    font-size: 1.25rem;
    margin: auto;
    text-align: center;
    padding: 0.5rem;
    background: var(--white);
    transition: 0.2s ease;
    cursor: pointer;
  }
  .button__change-color:hover {
    background-color: var(--accent);
    color: var(--white);
  }

  @media (width < 1024px) {
    .title {
      font-size: 3rem;
    }
  }
</style>
