---

---

<div class='antistress antistress-link'>
  <img class='link__pic' src='/images/gif.gif' width='32' height='32' alt='Иконка ТГ' /><a
    class='other__link'
    href='antistress.html'>Антистресс</a
  >
</div>
<style>
  .antistress {
    position: fixed;
    left: 10px;
    bottom: 24px;
  }
  .antistress-link {
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }

  .antistress-link:hover {
    color: rgb(30, 74, 251);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
  @media (width < 1024px) {
    .antistress {
      position: fixed;
      left: 10px;
      bottom: 72px;
    }
  }
</style>
