---
import IconCross from '../assets/icons/IconCross.astro'

interface Props {
  type?: 'button' | 'link'
}

const { type } = Astro.props
---

{
  type == 'button' ? (
    <button type='button' class='close-case' aria-label='Закрыть'>
      <IconCross />
    </button>
  ) : (
    <a class='close-case' href='/' aria-label='На главную'>
      <IconCross />
    </a>
  )
}

<style>
  .close-case {
    display: block;
    background-color: var(--white);
    transition: 0.2s ease;
    width: 40px;
    height: 40px;
  }
  .close-case:hover {
    background-color: var(--accent);
  }
</style>
