---
import IconCross from '../assets/icons/IconCross.astro'
---

<a class='close-case' href='/' aria-label='На главную'>
  <IconCross />
</a>

<style>
  .close-case {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
    display: flex;
    background-color: var(--white);
    transition: 0.2s ease;
  }
  .close-case:hover {
    background-color: var(--accent);
  }
</style>
