---

---

<section class='header'>
  <h1 class='title'><span class='highlight'>Ира Васюк</span><br />продуктовый дизайнер<br />со студийным опытом</h1>
</section>

<style>
  .title {
    font-family: var(--font-grotesk);
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 1px;
    color: var(--grey-light);
    line-height: 115%;
  }
  .highlight {
    color: var(--white);
  }
</style>
