---
const tags = [
  'Продуктовый дизайн',
  'Figma',
  'Мобильные приложения',
  'CRM',
  'Формулирование и проверка гипотез',
  'Глубинные интервью',
  'UX-тесты',
  'User stories',
  'CJM',
  'JTBD',
  'Редактура',
  'HTML',
  'CSS',
  'JS',
  'Tilda',
  'Jira',
  'Confluence',
  'Principle',
  'Прототипирование',
  'Презентация и защита решений',
  'Ревью макетов и реализации',
]
---

<div class='tags-container'>
  {tags.map(tag => <p class='tag'>{tag}</p>)}
</div>
<style>
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
  }

  .tag {
    display: flex;
    color: var(--grey-light);
    background-color: #2e2e2e;
    padding: 0.5rem;
  }
</style>
