---

---

<div class='card_special'>
  <div class='card-top'>
    <h3 class='card-title'>Собрала базу знаний дизайнера</h3>
    <p class='card-text'>
      В базе есть сборник книг, глоссарий, подкасты и&nbsp;подборки полезных сервисов для&nbsp;работы
    </p>
    <a class='wiki-link' href='https://irinavasyuk.notion.site/Wiki-d05f1037adb245d0bf38b71487e88218'
      >Wiki для дизайнера →</a
    >
  </div>
  <img class='bottom-pic' src='/images/book-pic.png' alt='' loading='lazy' />
</div>
<style>
  .card_special {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 4rem;
    padding: 0.75rem;
    min-height: 28rem;
    background-color: var(--accent);
    overflow: hidden;
  }
  @media (width < 1024px) {
    .card_special {
      min-height: 20rem;
    }
  }

  .card-top {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .card-title {
    color: var(--white);
  }

  .card-text {
    color: var(--grey-light);
    margin-bottom: 1rem;
  }
  .wiki-link {
    display: flex;
    align-items: center;
    line-height: 100%;
    background: var(--white);
    font-size: 1.25rem;
    padding: 0.5rem;
    width: max-content;
  }

  .bottom-pic {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media (width < 1024px) {
    .bottom-pic {
      top: 55%;

      bottom: 0;
      object-fit: cover;
    }
  }
</style>
