---
import ProfilePicture from '../ProfilePicture.astro'
---

<a class='link-wrapper' href='/'>
  <div class='my-profile'>
    <div class='picture'>
      <ProfilePicture />
    </div>
    <p class='text'>
      <span class='highlight'>Ира Васюк<br /></span>
      продуктовый дизайнер
    </p>
  </div>
</a>

<style>
  .link-wrapper {
    display: block;
  }
  .my-profile {
    display: flex;
    max-height: 48px;
    width: max-content;
    gap: 0.6rem;
  }
  .picture {
    width: 38px;
  }
  .text {
    color: var(--grey-light);
    line-height: 110%;
  }
  .highlight {
    color: var(--white);
  }
</style>
