---
import BaseHead from '../components/base/BaseHead.astro'
import Footer from '../components/Footer.astro'
import MyProfile from '../components/case/MyProfile.astro'
import CloseButton from '../components/CloseButton.astro'
const { caseTitle } = Astro.props
---

<html lang='ru'>
  <head>
    <BaseHead />
    <title>{caseTitle} | Ира Васюк, дизайнер</title>
  </head>
  <body>
    <CloseButton />
    <MyProfile />
    <main class='content-wrapper'>
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 754px;
    margin: auto;
    align-items: left;
    gap: 5rem;
  }
</style>
