---
import BaseHead from '../components/base/BaseHead.astro'
import Footer from '../components/Footer.astro'
import MainTopItems from '../components/MainTopItems.astro'
---

<!doctype html>
<html lang='ru'>
  <head>
    <BaseHead />
    <title>Ира Васюк, дизайнер</title>
  </head>
  <body>
    <MainTopItems />

    <div class='padding-container'>
      <main class='content-wrapper'>
        <slot />
        <Footer />
      </main>
    </div>
  </body>
</html>
<style>
  .padding-container {
    padding: 0 190px;
  }
  .content-wrapper {
    position: relative;
    z-index: 10;
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 5rem;
  }
  @media (width < 1024px) {
    .padding-container {
      padding: 0 10px;
    }
    .content-wrapper {
      max-width: unset;
    }
  }
</style>
