---
import BaseHead from '../components/base/BaseHead.astro'
import Menu from '../components/Menu.astro'
import ProfilePicture from '../components/ProfilePicture.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang='ru'>
  <head>
    <BaseHead />
    <title>Ира Васюк, дизайнер</title>
  </head>
  <body>
    <Menu />
    <div class='profile-picture'>
      <ProfilePicture />
    </div>
    <main class='content-wrapper'>
      <slot />
      <Footer />
    </main>
  </body>
</html>
<style>
  .content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    align-items: left;
    gap: 5rem;
  }

  .profile-picture {
    position: fixed;
    right: 10px;
    top: 10px;
  }
</style>
